<header class="h-screenf relative bg-blue-darker text-white hero-pattern bg-center bg-no-repeat bg-contain lg:bg-cover h-vh33 md:h-vh43" style="background-image:url(/uploads/NBCC-Logo_Inline_1200x556.png);">


      {{partial "_global/navigation.html" .}}

      {{/* <div class="flex-grow flex flex-col justify-center px-8  py-8">
          <div class="sm:mt-4">
            <h1 class="pl-8 leading-tight block uppercase tracking-wide">
              {{.Site.Title}}
            </h1>
        </div>
      </div> */}}
    {{/* <div class=" h-full mx-auto bg-blue-85" style="height:43vh;"></div> */}}
    {{partial "ticker.html" .}}
  </header>
