{{partial "_global/navigation.html" .}}
<header class="h-screenf  bg-blue-darker text-white hero-pattern bg-center bg-no-repeat bg-contain lg:bg-cover h-vh33 md:h-vh43" style="background-image:url(/uploads/nyc.jpg);">
  {{/* /uploads/NBCC-Logo_Inline_1200x556.png */}}
  <div class="h-vh33 md:h-vh43 bg-blue-85 flex justify-center items-center">
    <div class="text-center text-4xl md:text-5xl leading-tight font-lite block font-brand uppercase tracking-wide">
2017 National Book Critics Circle Awards
    </div>
  </div>
</header>
